{% extends 'base.html.twig' %}

{% block body %}
<h3>Utilisation de la clé d'authentification</h3>
    <span id="user_info" data-name="{{ username }}"></span>
    <div id="success" style="display: none">

        <a href="{{ path('home') }}" class="btn btn-primary">Accueil</a>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('key_login') }}
{% endblock %}
