default:
    suites:
        default:
            contexts:
                - App\Tests\Functional\Hook\DoctrineContext
                - App\Tests\Functional\Setup\UserContext
                - App\Tests\Functional\Context\LoginContext
                - App\Tests\Functional\Context\TwoFactorContext
                - App\Tests\Functional\Context\TodoList\IndexContext

    extensions:
        Behat\MinkExtension:
            base_url: "https://localhost/"
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension: null
