default:
    suites:
        default:
            contexts:
                - App\Tests\Functional\Hook\DoctrineContext
                - App\Tests\Functional\Setup\UserContext
                - App\Tests\Functional\Context\LoginContext
                - App\Tests\Functional\Context\TwoFactorContext
                - App\Tests\Functional\Context\TodoList\IndexContext

    extensions:
        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~
        Behat\MinkExtension:
            base_url: "https://127.0.0.1:8000/"
            javascript_session: chrome_headless
            default_session: symfony
            sessions:
                chrome_headless:
                    chrome:
                        api_url: "http://127.0.0.1:9222"
                        validate_certificate: false
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension: null
