{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <h1>Create new Task</h1>

    {{ include('task/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('todo_list_show', {'id': todo_list.id}) }}">back to list</a>
{% endblock %}
